<!doctype html>
<html data-ng-app="scrabble-pro">
<head>

  <!-- build:section partials.meta -->
  <!-- /build -->

  <title>Scrabble Pro</title>

  <!-- build:section partials.style -->
  <!-- /build -->

  <style>
    .board-row {
      width: 600px;
    }
    .board-row .board-cell {
      float: left;
      width: 40px;
    }
  </style>

</head>
<body data-ng-controller="ApplicationController">

  <!-- build:section components.header -->
  <!-- /build -->

  <div class="container">

    <div id="board">
      <div class="board-row" data-ng-repeat="(key, content) in board">
        <div class="board-cell" data-ng-repeat="value in content track by $index">
            {{ value }}
        </div>
      </div>
    </div>

  </div>

  <script src="/scripts/angular.min.js"></script>
  <script src="/scripts/scrabble-pro.min.js"></script>

</body>
</html>
